<?xml version="1.0" encoding="utf-8"?>
<Content Key="70b7b52a-cad4-40ed-8ec2-3a3aaa02e7b8" Alias="Article 1" Level="3">
  <Info>
    <Parent Key="8fd71653-fe28-4104-b8ce-ababc3836251">Articles 2</Parent>
    <Path>/Website/Articles2/Article1</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2025-05-16T16:36:54</CreateDate>
    <NodeName Default="Article 1">
      <Name Culture="en-us">Article 1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="186b8ff5-4911-4232-a8d5-5b29a8f43989">Article</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/76bee292d33d4a7a95d5ceff1b7a6eab"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c3f7cb1c-292b-4e7c-ad03-8e28e679883d",
      "udi": "umb://element/76bee292d33d4a7a95d5ceff1b7a6eab",
      "richText": {
        "markup": "<p>11111</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <metaDescription>
      <Value><![CDATA[desc]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[meta]]></Value>
    </metaTitle>
    <relatedBlogPosts>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </relatedBlogPosts>
  </Properties>
</Content>