<?xml version="1.0" encoding="utf-8"?>
<Content Key="8fd71653-fe28-4104-b8ce-ababc3836251" Alias="Articles 2" Level="2">
  <Info>
    <Parent Key="c59a3527-d045-4ef3-826b-e969aeb4245f">Website</Parent>
    <Path>/Website/Articles2</Path>
    <Trashed>false</Trashed>
    <ContentType>articleCollection</ContentType>
    <CreateDate>2025-05-16T15:31:05</CreateDate>
    <NodeName Default="Articles 2">
      <Name Culture="en-us">Articles 2</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="4108f604-ef08-40e4-bdac-1b0285395c42">ArticleCollection</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9e84f93c8b01439a891d6c7917d458e8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c3f7cb1c-292b-4e7c-ad03-8e28e679883d",
      "udi": "umb://element/9e84f93c8b01439a891d6c7917d458e8",
      "richText": {
        "markup": "<p>Some random text</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <customName>
      <Value><![CDATA[]]></Value>
    </customName>
    <isVisible>
      <Value><![CDATA[1]]></Value>
    </isVisible>
    <metaDescription>
      <Value><![CDATA[Meta desc]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[Random seo]]></Value>
    </metaTitle>
  </Properties>
</Content>